html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: #222;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
	background-repeat: repeat;
background-position: center center;
background-size: cover;

/*	font-family: Raleway, sans-serif;
*/	font-family: 'GFS Didot', serif;
	color: #fff;

}

.twitter {
	position: absolute;
	bottom: 20px;
	left: 24px;
	margin: 0;
	z-index: 1;
	font-size: 0.9em;
}

.credit {
	position: absolute;
	bottom: 24px;
	right: 24px;
	margin: 0;
	z-index: 1;
	font-size: 0.9em;
}

.credit a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.layer {
	text-align: center;
/*text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);*/
			   }

.layer h2 {
	position: relative;
	top: 35%;
	margin: 0;
	font-size: 4em;
	/*mix-blend-mode: difference;*/
}

.layer p {
	position: relative;
	top: 35%;
	margin: 0;
		font-size: 1em;

}

.layer.one {
  /*background: #dc6c5f;*/
  background: url(../img/02.png) no-repeat scroll center center, url(../img/bg.png) repeat scroll center center;
  background-color: white;
  background-blend-mode:difference, luminosity;
  color:#fff
  
  /*The second-image.png background will blend with the background color using the multiply mode, 
  and then the first-image.png background will blend with the second image and the background color using the screen blend mode. 
  (Reminder: the first background image in the list is the one on top, and the ones following it are beneath it.)*/

}

.sbj12 {
	/*http://www.colorzilla.com/gradient-editor/*/
background: #b2e1ff; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #b2e1ff 0%, #edf464 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b2e1ff), color-stop(100%,#edf464)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #b2e1ff 0%,#edf464 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #b2e1ff 0%,#edf464 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #b2e1ff 0%,#edf464 100%); /* IE10+ */
background: linear-gradient(135deg,  #b2e1ff 0%,#edf464 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#edf464',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  height: 50%;
  left: 0;
  margin: auto;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 20%;
  width: 50%;
  z-index: -1;
  border: 10px double white;
}

.left-middle {
  font-size: 10pt;
left: -15em;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  text-transform: none;
  top: 50%;
  transform: rotate(-90deg);
  width: 500px;
}



.layer.two {
	background: #95dc84;
}

.layer.three {
	background: #64b9d2;
}



.bullets {
	position: absolute;
	width: 100%;
	bottom: 20px;
	padding: 0;
	margin: 0;
	text-align: center;
}

	.bullets li {
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		margin: 0 3px;

		background: rgba( 255, 255, 255, 0.5 );
		box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 );
		cursor: pointer;

		-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
	}

		.bullets li:hover {
			background: rgba( 255, 255, 255, 0.8 );
		}

		.bullets li.active {
			cursor: default;
			background: #fff;
		}
		
		
		
		

@media screen and (max-width: 400px) {
	body {
		font-size: 12px;
	}

	.layer h2 {
		font-size: 5em;
	}

	.bullets li {
		margin: 0 6px;
	}

	.credit {
		bottom: initial;
		top: 10px;
		right: 10px;
	}

	.share,
	.github-ribbon {
		display: none;
	}
}

